@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');

:root {
  --background-1: #0E1525;
  --background-1-transparent: rgb(14 21 37 / 60%);
  --background-2: #1C2333;
  --background-3: #2B3245;
  --background-4: #3C445C;

  --foreground-1: #f5f9f5;
  --foreground-2: #c2c8cc;

  --accent-1: #0053A6;
  --accent-2: #0079F2;
  --accent-3: #57ABFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background: var(--background-1);
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--foreground-1);
}

h1 {
  font-size: 48px;
  line-height: 150%;
  font-weight: 500;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
}

h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

h4 {
  font-size: 20px;
  line-height: 28px;
  color: var(--foreground-2);
  font-weight: 500;
}

p {
  color: var(--foreground-2);
  font-size: 16px;
  line-height: 150%;
}

a {
  color: var(--foreground-1);
  font-weight: medium;
  transition: 120ms ease-out;
  text-decoration: none;
}

a:hover {
  color: var(--accent-3) !important;
}

button {
  font-family: 'IBM Plex Sans', sans-serif;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 10px;
  background: var(--background-2);
  border: none;
  color: var(--foreground-1);
  cursor: pointer;
  position: relative;
  top: 0;
  transition: box-shadow 120ms ease-out, top 120ms ease-out;
  font-weight: 500;
}

button:hover {
  background: var(--background-3);
  top: -2px;
  box-shadow: 0 8px 16px rgb(2 2 3 / 32%);
}

button:active {
  top: 1px;
  box-shadow: 0 8px 16px rgb(2 2 3 / 16%);
}

button.cta {
  background: var(--accent-1);
}

button.cta:hover {
  background: var(--accent-2);
}

a:focus-visible,
button:focus-visible {
  outline: 2px solid var(--accent-2);
  outline-offset: 2px;
  border-radius: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 128px;
}

nav {
  display: flex;
  justify-content: center;
  padding: 16px 16px;
  width: 100%;
  position: sticky;
  top: 0;
  background: var(--background-1-transparent);
  backdrop-filter: blur(20px);
  z-index: 2;
}

.nav-inner {
  max-width: 1052px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav .left,
nav .right {
  display: flex;
  gap: 16px;
  align-items: center;
}

nav .left .logo {
  width: 48px;
  height: 48px;
  background: var(--background-2);
  border-radius: 50%;
}

nav .left .name {
  color: var(--foreground-1);
  font-weight: 500;
  font-size: 20px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  max-width: 1056px;
  width: 100%;
  padding: 0 16px;
}

.buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.hero .header-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  max-width: 520px;
}

.features .grid {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.features .tile {
  width: 100%;
  height: 400px;
  background: var(--background-2);
  border-radius: 32px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.features .row .tile.small {
  width: 50%;
  flex-direction: column;
}

.features .row {
  display: flex;
  gap: 32px;
}

.features .tile .text {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.features .row .tile.small .text {
  flex: revert;
}

.features .row .tile .media {
  background: var(--background-3);
}

.features .grid .tile.large .media {
  width: 600px;
  height: 340px;
  border-top-left-radius: 32px;
  margin-top: auto;
  background: var(--background-3);
}

.features .row .tile.small .media {
  width: calc(100% - 64px);
  flex: 1;
  border-radius: 32px 32px 0 0;
}

.call-to-action .callout-container {
  width: 100%;
  border-radius: 32px;
  background: var(--background-2);
  padding: 64px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.call-to-action .callout-container .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  max-width: 400px;
}

.call-to-action .callout-container .buttons button:not(.cta) {
  background: var(--background-3);
}

.call-to-action .callout-container .buttons button:not(.cta):hover {
  background: var(--background-4);
}

footer {
  background: var(--background-2);
  padding: 64px 16px;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer .inner {
  max-width: 1052px;
  display: flex;
  justify-content: space-between;
  width: 100%;
    
}

footer .inner .column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer .inner .column .logo {
  width: 48px;
  height: 48px;
  background: var(--background-3);
  border-radius: 50%;
}

footer .inner .column .name {
  color: var(--foreground-1);
  font-weight: 500;
  font-size: 20px;
}

footer .inner .column a {
  color: var(--foreground-2);
}

footer .column p {
  color: var(--foreground-1);
  font-weight: 500;
}

.info {
  position: fixed;
  top: 0;
  right: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 320px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background: #509AF8;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
}

.info__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.info__icon path {
  fill: #fff;
}

.info__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.info__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.info__close path {
  fill: #fff;
}

.container {
  width: 100%;
  height: 300%;
  background: #0E1525;
  position: relative;
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, #ffffff 10%, transparent 20%),
    radial-gradient(circle, transparent 10%, #0E1525 20%);
  background-size: 27px 27px; /* Adjust the size of the pattern */
  animation: moveBackground 20s linear infinite; /* Adjust the animation duration and timing function */
}

@keyframes moveBackground {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(20%, 20%);
  }
}


/* card */
.parent {
  width: 600px;
  padding: 20px;
  perspective: 1000px;
}

.card {
  padding-top: 50px;
  /* border-radius: 10px; */
  border: 3px solid rgb(255, 255, 255);
  transform-style: preserve-3d;
  background: linear-gradient(135deg,#0000 18.75%,#f3f3f3 0 31.25%,#0000 0),
      repeating-linear-gradient(45deg,#f3f3f3 -6.25% 6.25%,#ffffff 0 18.75%);
  background-size: 60px 60px;
  background-position: 0 0, 0 0;
  background-color: #3C445C;
  width: 100%;
  box-shadow: #3C445C 0px 30px 30px -10px;
  transition: all 0.5s ease-in-out;
}

.card:hover {
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
}

.content-box {
  background: #0E1525;
  /* border-radius: 10px 100px 10px 10px; */
  transition: all 0.5s ease-in-out;
  padding: 60px 25px 25px 25px;
  transform-style: preserve-3d;
}

.content-box .card-title {
  display: inline-block;
  color: white;
  font-size: 25px;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 50px);
}

.content-box .card-title:hover {
  transform: translate3d(0px, 0px, 60px);
}

.content-box .card-content {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #fffcfb000;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 30px);
}

.content-box .card-content:hover {
  transform: translate3d(0px, 0px, 60px);
}

.content-box .see-more {
  cursor: pointer;
  margin-top: 1rem;
  display: inline-block;
  font-weight: 900;
  font-size: 9px;
  text-transform: uppercase;
  color: #3C445C;
  /* border-radius: 5px; */
  background: white;
  padding: 0.5rem 0.7rem;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}

.content-box .see-more:hover {
  transform: translate3d(0px, 0px, 60px);
}

.date-box {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 60px;
  width: 60px;
  background: #1C2333;
  border: 1px solid #3C445C;
  /* border-radius: 10px; */
  padding: 10px;
  transform: translate3d(0px, 0px, 80px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
}

.date-box span {
  display: block;
  text-align: center;
}

.date-box .month {
  color: rgb(255, 255, 255);
  font-size: 9px;
  font-weight: 700;
}

.date-box .date {
  font-size: 20px;
  font-weight: 900;
  color: rgb(105, 115, 255);
}

/* card end */

/* connections */
.connection {
  display: flex;
  height: 70px;
  width: 270px;
}

.connection svg {
  position: absolute;
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  cursor: pointer;
}

.connection .social-link1,.connection .social-link2,.connection .social-link3,.connection .social-link4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

.connection svg {
  transform: scale(1);
}

.connection .social-link1:hover {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  animation: bounce_613 0.4s linear;
}

.connection .social-link2:hover {
  background-color: #00ccff;
  animation: bounce_613 0.4s linear;
}

.connection .social-link3:hover {
  background-color: #5865f2;
  animation: bounce_613 0.4s linear;
}

.connection .social-link4:hover {
  background-color: #12a50b;
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

/* cool button */
coolbtn {
  position: relative;
  width: 11em;
  height: 4em;
  outline: none;
  transition: 0.1s;
  background-color: transparent;
  border: none;
  font-size: 13px;
  font-weight: bold;
  color: #ddebf0;
}

#clip {
  --color: #2761c3;
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 5px double var(--color);
  box-shadow: inset 0px 0px 15px #195480;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.arrow {
  position: absolute;
  transition: 0.2s;
  background-color: #2761c3;
  top: 35%;
  width: 11%;
  height: 30%;
}

#leftArrow {
  left: -13.5%;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

#rightArrow {
  -webkit-clip-path: polygon(100% 49%, 0 0, 0 100%);
  left: 102%;
}

coolbtn:hover #rightArrow {
  background-color: #27c39f;
  left: -15%;
  animation: 0.6s ease-in-out both infinite alternate rightArrow8;
}

coolbtn:hover #leftArrow {
  background-color: #27c39f;
  left: 103%;
  animation: 0.6s ease-in-out both infinite alternate leftArrow8;
}

.corner {
  position: absolute;
  width: 4em;
  height: 4em;
  background-color: #2761c3;
  box-shadow: inset 1px 1px 8px #2781c3;
  transform: scale(1) rotate(45deg);
  transition: 0.2s;
}

#rightTop {
  top: -1.98em;
  left: 91%;
}

#leftTop {
  top: -1.96em;
  left: -3.0em;
}

#leftBottom {
  top: 2.10em;
  left: -2.15em;
}

#rightBottom {
  top: 45%;
  left: 88%;
}

coolbtn:hover #leftTop {
  animation: 0.1s ease-in-out 0.05s both changeColor8,
  0.2s linear 0.4s both lightEffect8;
}

coolbtn:hover #rightTop {
  animation: 0.1s ease-in-out 0.15s both changeColor8,
  0.2s linear 0.4s both lightEffect8;
}

coolbtn:hover #rightBottom {
  animation: 0.1s ease-in-out 0.25s both changeColor8,
  0.2s linear 0.4s both lightEffect8;
}

coolbtn:hover #leftBottom {
  animation: 0.1s ease-in-out 0.35s both changeColor8,
  0.2s linear 0.4s both lightEffect8;
}

coolbtn:hover .corner {
  transform: scale(1.25) rotate(45deg);
}

coolbtn:hover #clip {
  animation: 0.2s ease-in-out 0.55s both greenLight8;
  --color: #27c39f;
}

@keyframes changeColor8 {
  from {
    background-color: #2781c3;
  }

  to {
    background-color: #27c39f;
  }
}

@keyframes lightEffect8 {
  from {
    box-shadow: 1px 1px 5px #27c39f;
  }

  to {
    box-shadow: 0 0 2px #27c39f;
  }
}

@keyframes greenLight8 {
  from {
  }

  to {
    box-shadow: inset 0px 0px 32px #27c39f;
  }
}

@keyframes leftArrow8 {
  from {
    transform: translate(0px);
  }

  to {
    transform: translateX(10px);
  }
}

@keyframes rightArrow8 {
  from {
    transform: translate(0px);
  }

  to {
    transform: translateX(-10px);
  }
}



/* navigation buttons */

.navbut {
 width: 6.5em;
 height: 2.3em;
 margin: 0.5em;
 background: black;
 color: white;
 border: none;
 border-radius: 0.625em;
 font-size: 20px;
 font-weight: bold;
 cursor: pointer;
 position: relative;
 z-index: 1;
 overflow: hidden;
}

navbut:hover {
 color: black;
}

navbut:after {
 content: "";
 background: white;
 position: absolute;
 z-index: -1;
 left: -20%;
 right: -20%;
 top: 0;
 bottom: 0;
 transform: skewX(-45deg) scale(0, 1);
 transition: all 0.5s;
}

navbut:hover:after {
 transform: skewX(-45deg) scale(1, 1);
 -webkit-transition: all 0.5s;
 transition: all 0.5s;
}




/* loader */

.loader {
  --col1: rgba(255, 255, 255, 1);
  --col2: rgb(255, 247, 246);
  font-size: 2em;
  font-weight: 600;
  perspective: 800px;
  position: relative;
}

.loader::after,
.loader::before,
.loader .text::after,
.loader .text::before {
  perspective: 800px;
  animation: anim 2s ease-in-out infinite, dotMove 10s ease-out alternate infinite, move 10s linear infinite 1s;
  ;
  content: '●';
  color: var(--col1);
  position: absolute;
  translate: -60px 500px;
  width: 5px;
  height: 5px;
}

.loader::before {
  animation-delay: 3s;
  color: var(--col1);
}

.loader .text::before {
  color: var(--col2);
  animation-delay: 2s;
}

.loader .text::after {
  color: var(--col2);
}

.loader .text {
  animation: anim 20s linear infinite, move 10s linear infinite 1s;
  color: transparent;
  background-image: linear-gradient(90deg, 
  var(--col1) 0%,
  var(--col2) 100%);
  background-clip: text;
  background-size: 100%;
  background-repeat: no-repeat;
  transform: skew(5deg, -5deg);
  -webkit-background-clip: text;
  position: relative;
}

@keyframes anim {
  0%, 100% {
    text-shadow: 2px 0px 2px rgba(179, 158, 158, .5);
  }

  50% {
    background-size: 0%;
    background-position-x: left;
    text-shadow: 2px 10px 6px rgba(179, 158, 158, 1);
  }
}

@keyframes move {
  50% {
    translate: 0px 0px;
    rotate: x 60deg;
    transform: skew(-5deg, 5deg);
  }
}

@keyframes dotMove {
  0%, 100% {
    translate: -60px 300px;
  }

  50% {
    translate: 160px -250px;
    scale: .5;
    opacity: .85;
  }
}


/* My background */

.my {
  width: 300px;
  height: 40px;
}

.mywhat {
  display: block;
  position: sticky;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  line-height: 40px;
  margin-top: -30px;
  margin-left: -80px; 
  color: #ecf0f1;
}

.mywhat__my {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}


.mywhat__my__text {
  display: inline;
  float: left;
  margin: 20px 0 0; /* Adding 20px of margin on the top */
}


.mywhat__my__list {
  margin-top: 0;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.mywhat__my__list__item {
  line-height: 40px;
  margin: 0;
}

@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes change {
  

  16.66%, 29.32% {
    transform: translate3d(0, -5%, 0);
  }

  

  49.98%, 62.64% {
    transform: translate3d(0, -55%, 0);
  }

  
  83.3%, 95.96% {
    transform: translate3d(0, -5%, 0);
  }
  
}


/* morphy  */






